
.image-view {
  width:100%;
  position:relative;
  overflow:hidden;
}

.image-view .overlay {
  position:absolute;
  left:0;
  right:0;
  bottom: -60%;
  transition: all .35s;
  -webkit-transition: all .35s;
  text-align: center;
}

.image-view:hover .overlay {
  bottom:0;
}

.image-view .overlay button{
  width: 50%;
  float: right;
  border-right: 0;
  border-color: #000;
}

.image-view .overlay button:hover {
  background-color: #BC1622;
}

img {
  width: 100%;
  transition: .5s ease;
}

.image-view:hover img {
  opacity: 0.3;
}

.text {
  background-color: #BC1622;
  font-size: 16px;
  border-radius: 0px;
}

.text i {
  padding: 5px;
}